<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>



<h1>hello ejs</h1>

输出内容  <%=title%>

<br/>
写js代码  <%  %>

    <% if(true){ %>


    <div>true</div>


    <%} else{ %>

    <%} %>


<br/>




引入html页面

<%- include header.ejs %>

<br/>
解析html
<%- title %>

<br/>
</body>
</html>